In [8]:

import pandas as pd
import os
import numpy as np

file_path=os.getcwd()+'/1001_project/Airbnb_Optimization/datasets/airbnb_comp.csv'
air_bnb_data=pd.read_csv(file_path)
air_bnb_data.head()
len(air_bnb_data)

/home/dawooood/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3071: DtypeWarning: Columns (9) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

40135

In [67]:
len(air_bnb_data.id.unique()), len(air_bnb_data)
air_bnb_data['coord'] = list(zip(air_bnb_data.latitude, air_bnb_data.longitude))
air_bnb_data.coord

0                     (40.80155, -73.97)
1        (40.672059999999995, -73.96344)
2                  (40.74968, -74.00052)
3         (40.72159, -73.96018000000002)
4                  (40.72195, -74.00356)
                      ...
40130              (40.76186, -73.99834)
40131               (40.76104, -73.9915)
40132              (40.80005, -73.95271)
40133              (40.82973, -73.94749)
40134     (40.76479000000001, -73.98753)
Name: coord, Length: 40135, dtype: object

In [68]:
def square(row,bearing):
    start = geopy.Point(row['latitude'],row['longitude'])

    d = geopy.distance.distance(miles=2)

    return (d.destination(point=start,bearing=bearing))
    

air_bnb_data['45NE'] = air_bnb_data.apply(lambda x : square(x,45),axis=1)
            
air_bnb_data['45SE'] = air_bnb_data.apply(lambda x : square(x,135),axis=1)

air_bnb_data['45SW'] = air_bnb_data.apply(lambda x : square(x,225),axis=1)
            
air_bnb_data['45NW'] = air_bnb_data.apply(lambda x : square(x,315),axis=1)

In [69]:
def latlong(coord,ind):
    
    if ind == 'lat':
        c= coord.latitude
    
    else :#ind == 'long':
        c= coord.longitude
    
    return c

air_bnb_data['lat1'] = air_bnb_data['45NE'].apply(lambda x : latlong(x,'lat'))
air_bnb_data['lat2'] = air_bnb_data['45SE'].apply(lambda x : latlong(x,'lat'))
                                                

air_bnb_data['long1'] = air_bnb_data['45NE'].apply(lambda x : latlong(x,'long'))
air_bnb_data['long2'] = air_bnb_data['45NW'].apply(lambda x : latlong(x,'long'))

In [36]:
tuple(d.destination(point=start,bearing=45))

(40.811796634462276, -73.95651270083565, 0.0)

In [59]:
air_bnb_data['45NE'].loc[0].latitude
def distance(x, y):
    if x >= y:
        result = x - y
    else:
        result = y - x
    return result

In [70]:
a = air_bnb_data.loc[0]
la = a['latitude']
lo = a['longitude']

def comp(row):
    
    min_la = min(row['lat1'],row['lat2'])
    max_la = max(row['lat1'],row['lat2'])
    min_lo = min(row['long1'],row['long2'])
    max_lo = max(row['long1'],row['long2'])

    return len(air_bnb_data.loc[(air_bnb_data['latitude']>=min_la) & (air_bnb_data['latitude']<=max_la)
    & (air_bnb_data['longitude']>=min_lo) & (air_bnb_data['longitude']<=max_lo)])

air_bnb_data['comp'] = air_bnb_data.apply(lambda x : comp(x),axis=1)

In [74]:
air_bnb_data.to_csv('airbnb_comp.csv')

In [7]:
file_path=os.getcwd()+'/hotels-properties-citywide-1.csv'
hotel=pd.read_csv(file_path)
hotel.head()

,PARID,BOROCODE,BLOCK,LOT,TAXYEAR,STREET NUMBER,STREET NAME,Postcode,BLDG_CLASS,TAXCLASS,OWNER_NAME,Borough,Latitude,Longitude,Community Board,Council District,Census Tract,BIN,BBL,NTA
0,1000080039,1,8,39,2021,32,PEARL STREET,10004,H3,4,"32 PEARL, LLC",MANHATTAN,40.703235,-74.012421,101.0,1.0,9.0,1078968.0,1.000080e+09,Battery Park City-Lower Manhattan
1,1000080051,1,8,51,2021,6,WATER STREET,10004,H2,4,AI IV LLC,MANHATTAN,40.702744,-74.012201,101.0,1.0,9.0,1090472.0,1.000080e+09,Battery Park City-Lower Manhattan
2,1000100033,1,10,33,2021,8,STONE STREET,10004,H2,4,"B.H. 8 STONE STREET AG, LLC",MANHATTAN,40.704025,-74.012638,101.0,1.0,9.0,1087618.0,1.000100e+09,Battery Park City-Lower Manhattan
3,1000110029,1,11,29,2021,11,STONE STREET,10004,H2,4,"PREMIER EMERALD, LLC",MANHATTAN,40.704039,-74.012317,101.0,1.0,9.0,1000041.0,1.000110e+09,Battery Park City-Lower Manhattan
4,1000161301,1,16,1301,2021,102,NORTH END AVENUE,10282,RH,4,GOLDMAN SACHS,MANHATTAN,40.714812,-74.016153,101.0,1.0,31703.0,1085867.0,1.000168e+09,Battery Park City-Lower Manhattan

In [9]:
def comp(row):
    
    min_la = min(row['lat1'],row['lat2'])
    max_la = max(row['lat1'],row['lat2'])
    min_lo = min(row['long1'],row['long2'])
    max_lo = max(row['long1'],row['long2'])

    return len(hotel.loc[(hotel['Latitude']>=min_la) & (hotel['Latitude']<=max_la)
    & (hotel['Longitude']>=min_lo) & (hotel['Longitude']<=max_lo)])

air_bnb_data['comp_hotel'] = air_bnb_data.apply(lambda x : comp(x),axis=1)

In [10]:
air_bnb_data.head()

,Unnamed: 0,Unnamed: 0.1,id,last_scraped,neighbourhood,neighbourhood_cleansed,neighbourhood_group_cleansed,city,state,zipcode,...,45NE,45SE,45SW,45NW,lat1,lat2,long1,long2,comp,comp_hotel
0,0,13,5435.0,2019-03-07,Manhattan,Upper West Side,Manhattan,New York,NY,10025,...,"40 49m 19.35s N, 73 56m 34.8765s W","40 46m 51.787s N, 73 56m 34.9362s W","40 46m 51.787s N, 73 59m 49.0638s W","40 49m 19.35s N, 73 59m 49.1235s W",40.822042,40.781052,-73.943021,-73.996979,3126,190
1,1,96,20311.0,2019-03-07,Brooklyn,Prospect Heights,Brooklyn,Brooklyn,NY,11238,...,"40 41m 33.1877s N, 73 56m 11.4488s W","40 39m 5.62141s N, 73 56m 11.5081s W","40 39m 5.62141s N, 73 59m 25.2599s W","40 41m 33.1877s N, 73 59m 25.3192s W",40.692552,40.651562,-73.936514,-73.990366,4805,38
2,2,132,27024.0,2019-03-07,Chelsea,Chelsea,Manhattan,New York,NY,10001,...,"40 46m 12.6187s N, 73 58m 24.8241s W","40 43m 45.0544s N, 73 58m 24.8836s W","40 43m 45.0544s N, 74 1m 38.8604s W","40 46m 12.6187s N, 74 1m 38.9199s W",40.770172,40.729182,-73.973562,-74.027478,5777,1079
3,3,268,62264.0,2019-03-07,Williamsburg,Williamsburg,Brooklyn,Brooklyn,NY,11211,...,"40 44m 31.4951s N, 73 55m 59.6409s W","40 42m 3.93002s N, 73 55m 59.7004s W","40 42m 3.93002s N, 73 59m 13.5956s W","40 44m 31.4951s N, 73 59m 13.6551s W",40.742082,40.701092,-73.933234,-73.987126,5690,54
4,4,324,70381.0,2019-03-07,Soho,SoHo,Manhattan,New York,NY,10013,...,"40 44m 32.7911s N, 73 58m 35.8084s W","40 42m 5.22603s N, 73 58m 35.8679s W","40 42m 5.22603s N, 74 1m 49.7641s W","40 44m 32.7911s N, 74 1m 49.8236s W",40.742442,40.701452,-73.976613,-74.030507,5956,596

In [11]:
air_bnb_data.to_csv(file_path)