In [75]:
import pandas as pd
import numpy as np
import geopy.distance

In [76]:
url = 'https://raw.githubusercontent.com/audreychu/Airbnb_Optimization/main/datasets/2019_listings_locations.csv'
df = pd.read_csv(url)
df.head()

,Unnamed: 0,id,last_scraped,neighbourhood,neighbourhood_cleansed,neighbourhood_group_cleansed,city,state,zipcode,latitude,longitude
0,13,5435.0,2019-03-07,Manhattan,Upper West Side,Manhattan,New York,NY,10025,40.80155,-73.97000
1,20,7036.0,2019-03-07,Kensington,Kensington,Brooklyn,Brooklyn,NY,11218,40.64522,-73.98293
2,77,17298.0,2019-03-07,Bedford-Stuyvesant,Bedford-Stuyvesant,Brooklyn,Brooklyn,NY,11233,40.68291,-73.93664
3,78,17299.0,2019-03-07,Brooklyn,Bedford-Stuyvesant,Brooklyn,Brooklyn,NY,11233,40.68276,-73.93503
4,96,20311.0,2019-03-07,Brooklyn,Prospect Heights,Brooklyn,Brooklyn,NY,11238,40.67206,-73.96344

In [78]:
df = df[df['latitude'].notna()]
df = df[df['longitude'].notna()]
df = df.reset_index()

In [93]:
df.neighbourhood.value_counts()

Brooklyn              21953
Manhattan             21511
Queens                 6296
Williamsburg           4475
Bedford-Stuyvesant     4390
                      ...
New Dorp                  1
Rossville                 1
Greenridge                1
Richmondtown              1
Lighthouse HIll           1
Name: neighbourhood, Length: 206, dtype: int64

In [127]:
len(df.neighbourhood.unique())

207

### 1. Average household income

In [130]:
#inc = pd.read_csv('/Users/audreychu/Desktop/1001_Data/CCC Data Download_20201114_162426118/medianincomes.csv')
inc = pd.read_csv('/Users/audreychu/Desktop/1001_Data/inc_zip.csv')
#inc = inc[inc['Household Type'] == 'All Households']
inc.head()

,#,Zip Code,lat,long,City,Population,Avg. Income/H/hold,National Rank
0,1,10007,40.713973,-74.008336,"New York, New York","3,522","$112,947.00",#132
1,2,10280,40.708501,-74.016828,"New York, New York","6,614","$108,536.00",#157
2,3,10162,40.769298,-73.949942,"New York, New York","1,726","$108,416.00",#158
3,4,10004,40.691870,-74.014109,"New York, New York","1,225","$101,868.00",#238
4,5,10069,40.775551,-73.989689,"New York, New York","1,403","$88,091.00",#507

In [165]:
avg_inc = []
for j in range(10000):
    df_coord = (df.latitude[j], df.longitude[j])
    dist = []
    for i in range(len(inc)):
        inc_coord = (inc.lat[i], inc.long[i])
        dist.append(geopy.distance.geodesic(df_coord,inc_coord).miles)
    ind = dist.index(min(dist))
    avg_inc.append(inc['Avg. Income/H/hold'][ind])

In [167]:
avg_inc_10_40 = []

for j in range(10001,40000):
    df_coord = (df.latitude[j], df.longitude[j])
    dist = []
    for i in range(len(inc)):
        inc_coord = (inc.lat[i], inc.long[i])
        dist.append(geopy.distance.geodesic(df_coord,inc_coord).miles)
    ind = dist.index(min(dist))
    avg_inc_10_40.append(inc['Avg. Income/H/hold'][ind])

In [169]:
avg_inc_40_70 = []

for j in range(40001,70000):
    df_coord = (df.latitude[j], df.longitude[j])
    dist = []
    for i in range(len(inc)):
        inc_coord = (inc.lat[i], inc.long[i])
        dist.append(geopy.distance.geodesic(df_coord,inc_coord).miles)
    ind = dist.index(min(dist))
    avg_inc_40_70.append(inc['Avg. Income/H/hold'][ind])

In [170]:
avg_inc_70_100 = []

for j in range(70001,100000):
    df_coord = (df.latitude[j], df.longitude[j])
    dist = []
    for i in range(len(inc)):
        inc_coord = (inc.lat[i], inc.long[i])
        dist.append(geopy.distance.geodesic(df_coord,inc_coord).miles)
    ind = dist.index(min(dist))
    avg_inc_70_100.append(inc['Avg. Income/H/hold'][ind])

In [195]:
avg_inc_100_ = []

for j in range(100001,len(df)):
    df_coord = (df.latitude[j], df.longitude[j])
    dist = []
    for i in range(len(inc)):
        inc_coord = (inc.lat[i], inc.long[i])
        dist.append(geopy.distance.geodesic(df_coord,inc_coord).miles)
    ind = dist.index(min(dist))
    avg_inc_100_.append(inc['Avg. Income/H/hold'][ind])

In [196]:
#10000
#40000
#70000
#100000

fix = [10000,40000,70000,100000]
fix_ls = []

for j in fix:
    df_coord = (df.latitude[j], df.longitude[j])
    dist = []
    for i in range(len(inc)):
        inc_coord = (inc.lat[i], inc.long[i])
        dist.append(geopy.distance.geodesic(df_coord,inc_coord).miles)
    ind = dist.index(min(dist))
    fix_ls.append(inc['Avg. Income/H/hold'][ind])

In [197]:
fix_ls

['$40,176.00 ', '$49,976.00 ', '$40,176.00 ', '$17,970.00 ']

In [200]:
len(df)

114129

avg_inc.append(fix_ls[0])

avg_inc_10_40.append(fix_ls[1])
avg_inc_40_70.append(fix_ls[2])
avg_inc_70_100.append(fix_ls[3])

In [227]:
avg_sal = avg_inc + avg_inc_10_40 + avg_inc_40_70 + avg_inc_70_100 + avg_inc_100_

In [228]:
df['avg_salary'] = avg_sal

In [229]:
df.head()

,level_0,index,Unnamed: 0,id,last_scraped,neighbourhood,neighbourhood_cleansed,neighbourhood_group_cleansed,city,state,zipcode,latitude,longitude,avg_salary
0,0,0,13,5435.0,2019-03-07,Manhattan,Upper West Side,Manhattan,New York,NY,10025,40.80155,-73.97000,"$49,733.00"
1,1,1,20,7036.0,2019-03-07,Kensington,Kensington,Brooklyn,Brooklyn,NY,11218,40.64522,-73.98293,"$101,868.00"
2,2,2,77,17298.0,2019-03-07,Bedford-Stuyvesant,Bedford-Stuyvesant,Brooklyn,Brooklyn,NY,11233,40.68291,-73.93664,"$24,022.00"
3,3,3,78,17299.0,2019-03-07,Brooklyn,Bedford-Stuyvesant,Brooklyn,Brooklyn,NY,11233,40.68276,-73.93503,"$24,022.00"
4,4,4,96,20311.0,2019-03-07,Brooklyn,Prospect Heights,Brooklyn,Brooklyn,NY,11238,40.67206,-73.96344,"$101,868.00"

In [231]:
df.to_csv('df_salary.csv')

import geopandas as gpd
import pandas as pd
import pyproj

df1 = pd.read_csv("/home/ubuntu/maid80.csv")
df2 = pd.read_csv("/home/ubuntu/iodr.csv")

gdf1 = gpd.GeoDataFrame(df1, geometry=gpd.points_from_xy(df1['longitude'], df1['latitude']), crs=pyproj.CRS.from_epsg(4326))
gdf2 = gpd.GeoDataFrame(df2, geometry=gpd.points_from_xy(df2['longitude'], df2['latitude']), crs=pyproj.CRS.from_epsg(4326))

radius = 400
for gdf in [gdf1, gdf2]:
  gdf.to_crs(pyproj.CRS.from_epsg(3857), inplace=True)

gdf1['geometry'] = gdf1['geometry'].buffer(radius)
gdf2['IS_WITHIN_400M'] = 1

gdf = gpd.sjoin(gdf1, gdf2['geometry'], how='left')
print(gdf[gdf.IS_WITHIN_400M_right==1].head())

### Distance from subway entrance

In [232]:
sub = pd.read_csv('/Users/audreychu/Desktop/1001_Data/Data/Subway_Entrance/DOITT_SUBWAY_ENTRANCE_01_13SEPT2010.csv')
sub.head()

,OBJECTID,URL,NAME,the_geom,longitude,latitude,Unnamed: 6,LINE
0,1734,http://web.mta.info/nyct/service/,Birchall Ave & Sagamore St at NW corner,POINT,(-73.86835600032798,40.84916900104506),NaN,5-Feb
1,1735,http://web.mta.info/nyct/service/,Birchall Ave & Sagamore St at NE corner,POINT,(-73.86821300022677,40.84912800131844),NaN,5-Feb
2,1736,http://web.mta.info/nyct/service/,Morris Park Ave & 180th St at NW corner,POINT,(-73.87349900050798,40.84122300105249),NaN,5-Feb
3,1737,http://web.mta.info/nyct/service/,Morris Park Ave & 180th St at NW corner,POINT,(-73.8728919997833,40.84145300067447),NaN,5-Feb
4,1738,http://web.mta.info/nyct/service/,Boston Rd & 178th St at SW corner,POINT,(-73.87962300013866,40.84081500075867),NaN,5-Feb

In [233]:
sub['long'] = [x.split('(')[1] for x in sub['longitude']]
sub['lat'] = [x.split(')')[0] for x in sub['latitude']]
sub = sub.reset_index()

In [234]:
df_test = (df.latitude[0],df.longitude[0])
sub_test = (sub.lat[0],sub.long[0])

geopy.distance.geodesic(df_test,sub_test).miles

6.259646418494054

In [235]:
x = geopy.distance.geodesic(df_test,sub_test).miles
x < 0.5

False

#### Calculate number of subway entrances within x miles

In [236]:
def count_entrances(df_test,miles):
    cnt = 0
    for i in range(len(sub)):
        x = (sub.lat[i],sub.long[i])
        if geopy.distance.geodesic(df_test,x).miles < miles:
                cnt += 1
    return(cnt)

In [237]:
df_coord=(df.latitude[1],df.longitude[1])
cnt = count_entrances(df_coord,0.25)
cnt

4

In [243]:
num_sub = []
for i in range(10000):
    df_coord = (df.latitude[i],df.longitude[i])
    x = count_entrances(df_coord,0.20)
    num_sub.append(x)

In [242]:
len(df)

114129

In [246]:
num_sub[:100]

[5,
 2,
 0,
 0,
 2,
 0,
 0,
 0,
 2,
 0,
 1,
 14,
 0,
 10,
 2,
 6,
 0,
 4,
 2,
 4,
 2,
 0,
 8,
 3,
 0,
 0,
 4,
 0,
 13,
 4,
 0,
 27,
 4,
 4,
 2,
 4,
 4,
 5,
 0,
 0,
 4,
 3,
 6,
 4,
 5,
 1,
 2,
 6,
 0,
 0,
 0,
 4,
 6,
 4,
 0,
 0,
 0,
 2,
 0,
 0,
 0,
 2,
 4,
 5,
 4,
 0,
 5,
 3,
 5,
 6,
 18,
 17,
 10,
 2,
 17,
 10,
 2,
 4,
 0,
 0,
 8,
 9,
 0,
 0,
 0,
 17,
 2,
 5,
 0,
 3,
 0,
 4,
 3,
 0,
 0,
 0,
 0,
 24,
 3,
 4]

In [52]:
df.iloc[4190]

Unnamed: 0                            36281
id                              2.52167e+07
last_scraped                     2019-03-06
neighbourhood                           NaN
neighbourhood_cleansed                  NaN
neighbourhood_group_cleansed            NaN
city                                    NaN
state                                   NaN
zipcode                                 NaN
latitude                                NaN
longitude                               NaN
Name: 4190, dtype: object